# local env file
cert.crt 
cert.key 
# Python
_pycache_/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Environment
.env
venv/
.venv/

# Django
*.log
staticfiles/
media/

# IDEs
.vscode/
.idea/

accounts/tests.py
